In [1]:
!git clone https://github.com/niazwazir/JEFFHEATON.git

Cloning into 'JEFFHEATON'...
remote: Enumerating objects: 27, done.
remote: Counting objects: 100% (27/27), done.
remote: Compressing objects: 100% (27/27), done.
remote: Total 27 (delta 13), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (27/27), done.

In [0]:
import pandas as pd
df = pd.read_csv("JEFFHEATON/iris.csv")

In [3]:
display(df[0:5])

   sepal_l  sepal_w  petal_l  petal_w      species
0      5.1      3.5      1.4      0.2  Iris-setosa
1      4.9      3.0      1.4      0.2  Iris-setosa
2      4.7      3.2      1.3      0.2  Iris-setosa
3      4.6      3.1      1.5      0.2  Iris-setosa
4      5.0      3.6      1.4      0.2  Iris-setosa