Lists are just like the arrays, declared in other languages. 

The list is a most versatile datatype available in Python which can be written as a list of comma-separated values (items) between square brackets.

In [0]:
students = ["Ali","Wali","Bhai","Chema","Zaid"]

In [2]:
students

['Ali', 'Wali', 'Bhai', 'Chema', 'Zaid']

In [3]:
print(students)

['Ali', 'Wali', 'Bhai', 'Chema', 'Zaid']

In [4]:
students[0]

'Ali'

In [0]:
#APPEND FUNCTION IS USED TO ADD SOME DATA IN LISTS
students.append("Dada")

In [6]:
students

['Ali', 'Wali', 'Bhai', 'Chema', 'Zaid', 'Dada']

In [0]:
#REPLACE STUDENTS NAMES OR UPDATES
students[0] = 'Babar'

In [8]:
students

['Babar', 'Wali', 'Bhai', 'Chema', 'Zaid', 'Dada']

In [0]:
students.append("sattar")

In [10]:
students.count('Bhai') #SO IN THIS LIST Bhai repeated two times

1

In [0]:
students.remove('Wali') #REMOVE NAME FROM LISTS

In [12]:
students

['Babar', 'Bhai', 'Chema', 'Zaid', 'Dada', 'sattar']

In [0]:
#LIST SORTING ALPHABATICALLY
students.sort()

In [14]:
students

['Babar', 'Bhai', 'Chema', 'Dada', 'Zaid', 'sattar']

In [0]:
#LIST REVERSE ORDER SORTING

In [0]:
students.reverse()

In [17]:
students

['sattar', 'Zaid', 'Dada', 'Chema', 'Bhai', 'Babar']

In [0]:
#CONCATENATE TWO LISTS

In [0]:
students1 = ["Ali","Khan"]

In [0]:
allstudents = students+students1

In [21]:
allstudents

['sattar', 'Zaid', 'Dada', 'Chema', 'Bhai', 'Babar', 'Ali', 'Khan']

In [15]:
#IF YOU PRINT THROUGH LOOPING USING S
for s in students:
  print(s)

Babar
Bhai
Chema
Dada
Zaid
sattar

In [0]:
#Create List of Marks
marks = [90,99,80,70,60]

In [24]:
max(marks)

99

In [25]:
min(marks)

60

In [16]:
#IF YOU PRINT THROUGH LOOPING USING S
index = 0
for s in students:
  print(f'{s} - {index}')
  index += 1

Babar - 0
Bhai - 1
Chema - 2
Dada - 3
Zaid - 4
sattar - 5

In [17]:
for i, s in enumerate (students):
  print(f'{s}:{index}')
  index += 1

Babar:6
Bhai:7
Chema:8
Dada:9
Zaid:10
sattar:11